@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
body{
    font-family:'Roboto', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 80px;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.438));

}
header .home{
    font-size: 25px;
    font-weight: 400;
    color: #000b76;
    float: left;

}
header .home a{
    text-decoration: none;
      transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 white;
}
header .home a:hover{
    color: white;
    cursor: pointer;

}
header .menu{
    transform: translate(70%,0);
    margin-top: .5rem;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #000b76;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 white;

}
header ul li a:hover{
  
    color: white;
    cursor: pointer;

}
.wave{
    position:absolute;
    z-index: -1;
    bottom: 0;
}